name: "SQLFluff lint"

'on':
  pull_request:
    branches:
    - master

jobs:
  sqlfluff-lint-models:
    name: Run linting flow
    runs-on: ubuntu-latest


    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      