name: SQL Standards Check

on:
  pull_request:
    paths:
      - '**.sql'

jobs:
  sqlfluff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run SQLFluff
        uses: sqlfluff/actions/sqlfluff@v2.0.0
        with:
          paths: '.'
          config: '.sqlfluff'
